body {
  text-align: center;
  background-image: url('http://i.imgur.com/DXbOm7R.jpg?1');
  background-size: cover;
  background-position: center;
  color: white;
  font-family: times;
}

p {
  font-size: 22px;
}

input {
  border: 0;
  padding: 10px;
  font-size: 18px;
  border-radius:5px;
}

input[type="submit"] {
  background: red;
  color: white;
}

img {
  margin: 40px 0px 0px 0px;
  height: 150px;
  width: 150px;
  border:7px solid purple;
  border-radius:25px;
}
